* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1280px;
  margin: auto;
}

ul {
  list-style: none;
}

h3 {
  display: inline-block;
  border-bottom: 2px solid #00C6BD;
  padding-bottom: 15px;
  margin-top: 10px;
}

img {
  max-width: 100%;
}

.header,
.nav,
.nav-items {
  display: flex;
}

.header {
  flex-wrap: wrap;
  max-width: 1170px;
  min-height: 108px;
  padding-left: 55px;
  padding-right: 20px;
  justify-content: space-between;
}

.nav {
  align-items: center;
  column-gap: 50px;
}

.nav-items {
  column-gap: 30px;
  text-transform: uppercase;
}

.logo {
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile {
  width: 36px;
  height: 36px;
  background: url(images/icon.svg) center no-repeat;
  border: 1px #00C6BD solid;
  border-radius: 100px;
}

.main {
  margin: auto;
}

.title {
  margin-top: 60px;
  margin-left: 70px;
  color: #163152;
  text-transform: uppercase;
  font-style: italic;
}

.background-section {
  max-width: 1170px;
  height: 466px;
  margin: 40px auto 0 auto;
  background: url(images/photo1.jpg) center no-repeat;
}

.section {
  display: flex;
  flex-wrap: wrap;
}

.first-content {
  max-width: 1030px;
  margin: 120px auto 0 auto;
  justify-content: center;
  column-gap: 30px;
}

.second-content {
  max-width: 1030px;
  margin: 120px auto 0 auto;
  justify-content: center;
  column-gap: 30px;
}

.content2 {
  text-align: right;
}

.about {
  margin-top: 20px;
  max-width: 400px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.third-content {
  margin-top: 120px;
  margin-left: 55px;
  column-gap: 100px;
}

.contacts {

}